// .main{
//     margin-top: 50px;
// }
.addBasket {
  margin-top: 50px;
  width: 100%;
  &__heading {
    display: flex;
    justify-content: space-between;
  }
  &__brand {
    color: $titleColor;
    font-weight: bold;
  }
  &__share {
    color: $lightColor;
  }
  &__social {
    color: $lightColor;
    margin-left: 10px;
  }
  &__title {
    font-size: 18px;
    color: $titleColor;
  }

  &__stars {
    margin-right: 4px;
    color: rgb(255, 208, 0);
    margin: 10px 0 30px;
  }
  &__comments {
    color: $lightColor;
  }
  &__conditions {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__price {
    color: $buttonsColor;
  }
  &__crossedOut {
    color: $lightColor;
    text-decoration: line-through;
    font-weight: lighter;
  }
  &__shipping {
    font-size: 11px;
    color: rgb(129, 212, 4);
  }
  &__home {
    font-size: 11px;
    color: $lightColor;
    font-weight: lighter;
  }
  &__sellerInfo {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
  }
  &__blue {
    color: $secondaryColor;
    font-weight: bold;
  }
  &__line {
    border-top: 2px solid $lightColor;
  }
  &__features {
    font-size: 12px;
    margin: 15px 5px 5px 20px;
    display: flex;
    align-items: center;

    color: $lightColor;
    &--space {
      margin-left: 0;
    }
  }
  &__square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid $lightColor;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    &--second {
      background-color: rgb(61, 36, 36);
    }
    &--third {
      background-color: rgb(94, 48, 10);
    }
    &--fourth {
      background-color: rgb(77, 68, 163);
    }
    &--fifth {
      background-color: rgb(211, 184, 110);
    }
    &--gap {
      margin-left: 12px;
    }
  }
  &__light {
    color: rgb(74, 184, 221);
    font-size: 8px;
  }
  &__buttonWrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__minus {
    margin: 0 10px;
  }
  &__plus {
    margin: 0 10px;
  }
  &__button {
    width: 250px;
    height: 40px;
    background-color: $buttonsColor;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: lighter;
  }
  &__wish {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
  }
}
.nav {
  &__tabs {
    font-weight: bold;
    text-decoration: none;
    color: $titleColor;
  }
  &__description{
      padding: 20px 10px 0;
    font-size: 12px;
  }
  &__subtitle {
    color: $titleColor;
    padding: 0 10px;
    font-size: 12px;
  }
  &__list {
    list-style-type: circle;
    padding-left:20px;
  }
  &__listItem {
    
    font-size: 12px;
  }
}
.longCarousel{
   &__title{
       text-align: center;
       font-size: 18px;
       color: $titleColor;
   }
}